* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex: auto;
    gap: 10vh;

    width: 30vw;
    min-width: 300px;
    padding: 24px;
    margin: auto;

    background-color: blue;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: auto;
    
    width: 100%;
    background-color: white;

    font-size: 3vw;
    word-wrap: break-word;
    word-break: break-all;
}

.display .expression {
    text-align: right;
    min-height: 32px;
}

.display .result {
    text-align: right;
    min-height: 64px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
    flex: auto;
}

.button-row {
    display: flex;
    flex: auto;
    gap: 12px;
}

button {
    width: 25%;
    aspect-ratio: 1.25;

    font-size: 2vw;
}